/* Main content */
.main-content-container {
  display: flex;
}
.main-content-title {
  color: var(--tertiary-color);
}
.highlight {
  color: var(--tertiary-color);
}
.main-content-btn {
  padding: 0.7rem 1.1rem;
  text-decoration: none;
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-2);
  color: var(--tertiary-color);
  background-color: var(--complementary-color);
}
.main-content-btn:hover,
.main-content-btn:focus {
  box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.25),
    0px 12px 12px rgba(0, 0, 0, 0.25);
}
.secondary-btn {
  margin-left: 1rem;
  background-color: white;
}

/* features */

.main-content-features {
  display: flex;
  gap: 4%;
}
.flex-feature-title {
  color: var(--tertiary-color);
  margin-bottom: 14px;
}
.flex-feature-content {
  line-height: 1.3rem;
}

@media (max-width: 600px) {
  /* main-content */

  .main-content-container {
    flex-direction: column;
    align-items: center;
  }
  .main-content-icon-container {
    order: -1;
    margin-right: 3rem;
  }
  .inner-container {
    margin: 0rem 2rem 2rem 3rem;
  }
  .main-content-title {
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-2);
    margin-bottom: 10px;
  }
  .main-content-secondary {
    font-weight: var(--font-weight-3);
    font-size: var(--font-size-6);
    line-height: 1rem;
  }
  .btns {
    margin-top: 10px;
  }
  .main-content-btn {
    padding: 0.5rem 0.5rem;
    font-size: 10px;
  }
  .secondary-btn {
    margin-left: 10px;
  }
  .feature-content {
    margin: 1rem 1.5rem 1.5rem 1.5rem;
  }
  .main-content-features {
    flex-direction: column;
    margin: 0rem 1.5rem;
  }
  .main-content-feature {
    gap: 4%;
    margin-top: 1.5rem;
  }
  .main-content-features-tagline {
    font-size: var(--font-size-5);
  }
  .flex-feature-title {
    font-size: var(--font-size-6);
  }
  .flex-feature-content {
    line-height: 10px;
  }
}

@media (min-width: 650px) {
  /* Main Content */

  .main-content-container {
    justify-content: space-evenly;
    align-items: center;
    margin: 6rem 6rem 6rem 8rem;
    height: 50vh;
  }
  .main-content-title {
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-1);
    margin-bottom: 1rem;
  }
  .main-content-secondary {
    /* padding: 0 0 0 1.4rem; */
    font-weight: var(--font-weight-2);
    font-size: var(--font-size-4);
  }
  .btns {
    padding: 2rem 0rem 0rem 0rem;
    margin-top: 1rem;
  }

  .main-content-icon-container {
    margin-right: 2rem;
  }

  .feature-content {
    margin: 0rem 0rem 6rem 8rem;
    width: 80%;
  }
  .main-content-features-tagline {
    font-size: var(--font-size-3);
    margin-bottom: 2.5rem;
  }
  .content-features {
    color: var(--tertiary-color);
  }
  .main-component-container {
    max-width: 60%;
    min-width: 69%;
  }
}
