<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Essence UI</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../../css/style.css" />
  <link rel="stylesheet" href="button.css" />
</head>

<body>
  <div class="container">
    <div class="nav_container">
      <a href="#" class="menu-icon">
        <img src="/assets/menu.svg" alt="menu" />
      </a>
      <a href="#" class="close-icon">
        <img src="/assets/cross.svg" alt="close" />
      </a>

      <div class="navbar">
        <span class="nav-items-ls">
          <a href="../../index.html" class="nav-items">
            <img src="/assets/icon.svg" alt="mainIcon" class="nav-icons" />
            <span class="nav-icon-name">Essence</span>
          </a>
          <a href="#" class="nav-items">Blogs</a>
          <a href="/components/Alert/alert.html" class="nav-items">Documentation
          </a>
        </span>
        <span class="nav-items-rs">
          <a href="#" class="nav-items">1.0.0</a>
          <a href="https://github.com/Ranjeetk489/EssenceUI" class="nav-items">
            <img src="/assets/github.svg" alt="github" class="nav-icons" />
            <span class="nav-icon-name">Github</span>
          </a>
          <form action="submit" class="query-form">
            <input type="text" class="nav-items query-bar" placeholder="Search here" />
            <button class="search-btn" type="button">
              <img src="/assets/search.svg" alt="search" class="nav-icons search-icon" />
            </button>
          </form>
        </span>
      </div>
    </div>
    <div class="flex-container">
      <div class="sidebar">
        <ui class="sidebar-items">
          <li class="sidebar-item">
            <button class="sidebar-item-btn" type="button">
              <span class="sidebar-btn-book-icon"><img src="/assets/getStarted.svg" alt="icon"
                  class="sidebar-btn-icon sidebar-book" /></span>
              Getting Started
              <span class="sidebar-btn-icon sidebar-arrow"><img src="/assets/sidebar/arrow.svg" alt=""
                  class="sidebar-btn-icon sidebar-arrow" />
              </span>
              <span class="sidebar-btn-icon sidebar-arrowD"><img src="/assets/sidebar/arrowDown.svg" alt=""
                  class="sidebar-btn-icon sidebar-arrowD" />
              </span>
            </button>
            <ul class="siderbar-btn-contents sidebar-btn-section1">
              <li class="sidebar-btn-content">
                <a href="#" class="siderbar-btn">Installation</a>
              </li>
              <li class="sidebar-btn-content">
                <a href="#" class="siderbar-btn">Colors</a>
              </li>
              <li class="sidebar-btn-content">
                <a href="#" class="siderbar-btn">Typography</a>
              </li>
              <li class="sidebar-btn-content">
                <a href="#" class="siderbar-btn">Contribute</a>
              </li>
            </ul>
          </li>
          <ul class="sidebar-item">
            <button class="sidebar-item-btn" id="btn1" type="button">
              <span class="sidebar-btn-icon siderbar-Lslide"><img src="/assets/sidebar/Lslide.svg" alt="icon"
                  class="sidebar-btn-icon siderbar-Lslide" /></span>
              <span class="sidebar-btn-icon sidebar-Rslide"><img src="/assets/sidebar/Rslide.svg" alt=""
                  class="sidebar-btn-icon sidebar-Rslide" />
              </span>
              Components
            </button>
            <ul class="siderbar-btn-contents sidebar-btn-section2">
              <li class="sidebar-btn-content">
                <a href="/components/Alert/alert.html" class="siderbar-btn">Alert</a>
              </li>
              <li class="sidebar-btn-content">
                <a href="../Avatar/avatar.html" class="siderbar-btn">Avatar</a>
              </li>
              <li class="sidebar-btn-content">
                <a href="../Badge/badge.html" class="siderbar-btn">Badge</a>
              </li>
              <li class="sidebar-btn-content">
                <a href="../Button/button.html" class="siderbar-btn">Button</a>
              </li>
              <li class="sidebar-btn-content">
                <a href="../Card/card.html" class="siderbar-btn">Card</a>
              </li>
              <li class="sidebar-btn-content">
                <a href="../Image/image.html" class="siderbar-btn">Image</a>
              </li>
              <li class="sidebar-btn-content">
                <a href="../Input/input.html" class="siderbar-btn">Input</a>
              </li>
              <li class="sidebar-btn-content">
                <a href="../List/list.html" class="siderbar-btn">List</a>
              </li>
              <li class="sidebar-btn-content">
                <a href="../Navigation/navigation.html" class="siderbar-btn">Navigation</a>
              </li>
              <li class="sidebar-btn-content">
                <a href="../Modal/modal.html" class="siderbar-btn">Modal</a>
              </li>
              <li class="sidebar-btn-content">
                <a href="../Rating/rating.html" class="siderbar-btn">Rating</a>
              </li>
              <li class="sidebar-btn-content">
                <a href="../Slider/slider.html" class="siderbar-btn">Slider</a>
              </li>
              <li class="sidebar-btn-content">
                <a href="../Grid/grid.html" class="siderbar-btn">Grid</a>
              </li>
              <li class="sidebar-btn-content">
                <a href="../Toast/toast.html" class="siderbar-btn">Toast</a>
              </li>
            </ul>
          </ul>
        </ui>
      </div>
      <div class="main-component-container">
        <div class="component-title">Buttons</div>
        <div class="component-desc">Buttons allow users to take actions, and make choices, with a single tap.</div>
        <div class="component-subtitle">Contained Buttons</div>
        <div class="component-subtitle-desc">Contained buttons are high-emphasis,
          distinguished by their use of elevation and fill.
          They contain actions that are primary to your app.
        </div>
        <div class="component-container">
          <button class="btn btn-primary">Primary</button>
          <button class="btn btn-secondary">Secondary</button>
          <button class="btn btn-info">Info</button>
          <button class="btn btn-success">Success</button>
          <button class="btn btn-warning">Warning</button>
          <button class="btn btn-error">Error</button>
        </div>
        <iframe
          src="https://carbon.now.sh/embed?bg=rgba%28249%2C237%2C212%2C1%29&t=twilight&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=38px&dsblur=68px&wc=true&wa=true&pv=30px&ph=43px&ln=false&fl=1&fm=IBM+Plex+Mono&fs=14px&lh=143%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520btn-primary%2522%253EPrimary%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-secondary%2522%253ESecondary%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-info%2522%253EInfo%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-success%2522%253ESuccess%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-warning%2522%253EWarning%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-error%2522%253EDanger%253C%252Fbutton%253E%250A"
          style="width: 561px; height: 274px; border:0; transform: scale(1); overflow:hidden;"
          sandbox="allow-scripts allow-same-origin">
        </iframe>
        <div class="component-subtitle">Outlined Buttons</div>
        <div class="component-subtitle-desc">Outlined buttons are medium-emphasis buttons. They contain actions that
          are important but aren't the primary action in an app.
        </div>
        <div class="component-container">
          <button class="btn btn-outline-primary">Primary</button>
          <button class="btn btn-outline-secondary">Secondary</button>
          <button class="btn btn-outline-info">Info</button>
          <button class="btn btn-outline-success">Success</button>
          <button class="btn btn-outline-warning">Warning</button>
          <button class="btn btn-outline-error">Error</button>
        </div>
        <iframe
          src="https://carbon.now.sh/embed?bg=rgba%28249%2C237%2C212%2C1%29&t=twilight&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=38px&dsblur=68px&wc=true&wa=true&pv=30px&ph=43px&ln=false&fl=1&fm=IBM+Plex+Mono&fs=14px&lh=143%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520btn-outline-primary%2522%253EPrimary%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-outline-secondary%2522%253ESecondary%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-outline-info%2522%253EInfo%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-outline-success%2522%253ESuccess%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-outline-warning%2522%253EWarning%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-outline-error%2522%253EError%253C%252Fbutton%253E%250A"
          style="width: 628px; height: 304px; border:0; transform: scale(1); overflow:hidden;"
          sandbox="allow-scripts allow-same-origin">
        </iframe>
        <div class="component-subtitle">Buttons with icons and label
        </div>
        <div class="component-subtitle-desc">Sometimes you might want to have icons for certain buttons to enhance the
          UX of the application as we recognize logos more easily than plain text. For example, if you have a delete
          button you can label it with a dustbin icon.

        </div>
        <div class="component-container">
          <button class="btn  btn-info ">
            <i class="fa-solid fa-cloud-arrow-down"></i>
            Download
          </button>
          <button class="btn  btn-success ">
            <i class="fa-solid fa-handshake-angle"></i>
            Success
          </button>
          <button class="btn   btn-error">
            <i class="fa-solid fa-bug"></i>
            Delete
          </button>
        </div>
        <iframe
          src="https://carbon.now.sh/embed?bg=rgba%28249%2C237%2C212%2C1%29&t=twilight&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=38px&dsblur=68px&wc=true&wa=true&pv=30px&ph=43px&ln=false&fl=1&fm=IBM+Plex+Mono&fs=14px&lh=143%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520btn-info%2520%2522%253E%250A%2520%2520%253Ci%2520class%253D%2522fa-solid%2520fa-cloud-arrow-down%2522%253E%253C%252Fi%253E%250A%2520%2520Download%250A%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-success%2520%2522%253E%250A%2520%2520%253Ci%2520class%253D%2522fa-solid%2520fa-handshake-angle%2522%253E%253C%252Fi%253E%250A%2520%2520Success%250A%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520%2520btn-error%2522%253E%250A%2520%2520%253Ci%2520class%253D%2522fa-solid%2520fa-bug%2522%253E%253C%252Fi%253E%250A%2520%2520Delete%250A%253C%252Fbutton%253E"
          style="width: 465px; height: 459px; border:0; transform: scale(1); overflow:hidden;"
          sandbox="allow-scripts allow-same-origin">
        </iframe>
        <div class="component-subtitle">Icon Buttons</div>
        <div class="component-subtitle-desc">Icon buttons are commonly found in app bars and toolbars.
          Icons are also appropriate for toggle buttons that allow a single choice to be selected or deselected, such as
          adding or removing a star to an item.

        </div>
        <div class="component-container">
          <button class="btn btn-fab">
            <i class=" fa-solid fa-2x fa-toggle-off"></i>
          </button>
          <button class="btn btn-fab">
            <i class="fa-solid fa-2x fa-location-crosshairs"></i>
          </button>
        </div>
        <iframe
          src="https://carbon.now.sh/embed?bg=rgba%28249%2C237%2C212%2C1%29&t=twilight&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=38px&dsblur=68px&wc=true&wa=true&pv=30px&ph=43px&ln=false&fl=1&fm=IBM+Plex+Mono&fs=14px&lh=143%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522btn%2520btn-success%2520btn-fab%2522%253E%250A%2520%2520%253Ci%2520class%253D%2522%2520fa-solid%2520fa-2x%2520fa-toggle-off%2522%253E%253C%252Fi%253E%250A%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522btn%2520btn-info%2520btn-fab%2522%253E%250A%2520%2520%253Ci%2520class%253D%2522fa-solid%2520fa-2x%2520fa-location-crosshairs%2522%253E%253C%252Fi%253E%250A%253C%252Fbutton%253E"
          style="width: 571px; height: 309px; border:0; transform: scale(1); overflow:hidden;"
          sandbox="allow-scripts allow-same-origin">
        </iframe>
        <div class="component-subtitle">Link Buttons</div>
        <div class="component-subtitle-desc">Outlined buttons are medium-emphasis buttons. They contain actions that
          are important but aren't the primary action in an app.
        </div>
        <div class="component-container">
          <a href="#" class="btn btn-secondary">Click Me!</a>
          <a href="#" class="btn btn-success">Next Page</a>
          <a href="#" class="btn btn-warning">exit</a>
        </div>
        <iframe
          src="https://carbon.now.sh/embed?bg=rgba%28249%2C237%2C212%2C1%29&t=twilight&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=38px&dsblur=68px&wc=true&wa=true&pv=30px&ph=43px&ln=false&fl=1&fm=IBM+Plex+Mono&fs=14px&lh=143%25&si=false&es=2x&wm=false&code=%253Ca%2520href%253D%2522%2523%2522%2520class%253D%2522btn%2520btn-secondary%2522%253EClick%2520Me%21%253C%252Fa%253E%250A%253Ca%2520href%253D%2522%2523%2522%2520class%253D%2522btn%2520btn-success%2522%253ENext%2520Page%253C%252Fa%253E%250A%253Ca%2520href%253D%2522%2523%2522%2520class%253D%2522btn%2520btn-warning%2522%253Eexit%253C%252Fa%253E"
          style="width: 537px; height: 259px; border:0; transform: scale(1); overflow:hidden;"
          sandbox="allow-scripts allow-same-origin">
        </iframe>
      </div>
    </div>
    <div class="footer">
      <div class="ftr-newsletter">
        <div class="ftr-newsletter-icon">
          <h4 class="ftr-newsletter-content">
            Join Our newsletter!
            <img src="../../assets/nwltr.svg" alt="newsletter" class="ftr-newsletter-content-icon" />
          </h4>
          <p class="ftr-newsletter-content-sec">No spam, guarnteed</p>
          <form action="" class="ftr-newsletter-form">
            <label for="email-subscribe" class="ftr-newsletter-label">
              <div>Enter your Email:</div>
            </label>
            <input type="email" class="ftr-newsletter-email-subscribe" name="email" placeholder="example@email.com" />
            <button class="ftr-newsletter-btn" tabindex="0" type="submit">
              Subscribe
            </button>
          </form>
        </div>
      </div>
      <div class="ftr-aboutUs">
        <p class="ftr-aboutUs-line">Get in touch with Us</p>
        <a href="#" class="ftr-aboutUs-social">
          <img src="../../assets/mail.svg" alt="mail" class="ftr-aboutUs-mailIcon" />
        </a>
        <a href="#" class="ftr-aboutUs-social">
          <img src="../../assets/twitter.svg" alt="twitter" class="ftr-aboutUs-twitterIcon" />
        </a>
        <a href="#" class="ftr-aboutUs-social">
          <img src="../../assets/ig.svg" alt="instagram" class="ftr-aboutUs-twitterIcon" />
        </a>
      </div>
    </div>
  </div>
</body>

</html>