<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Essence UI</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="avatar.css" />
  <link rel="stylesheet" href="../../css/style.css" />
</head>

<body>
  <div class="container">
    <div class="nav_container">
      <a href="#" class="menu-icon">
        <img src="/assets/menu.svg" alt="menu" />
      </a>
      <a href="#" class="close-icon">
        <img src="/assets/cross.svg" alt="close" />
      </a>

      <div class="navbar">
        <span class="nav-items-ls">
          <a href="../../index.html" class="nav-items">
            <img src="/assets/icon.svg" alt="mainIcon" class="nav-icons" />
            <span class="nav-icon-name">Essence</span>
          </a>
          <a href="#" class="nav-items">Blogs</a>
          <a href="/components/Alert/alert.html" class="nav-items">Documentation
          </a>
        </span>
        <span class="nav-items-rs">
          <a href="#" class="nav-items">1.0.0</a>
          <a href="https://github.com/Ranjeetk489/EssenceUI" class="nav-items">
            <img src="/assets/github.svg" alt="github" class="nav-icons" />
            <span class="nav-icon-name">Github</span>
          </a>
          <form action="submit" class="query-form">
            <input type="text" class="nav-items query-bar" placeholder="Search here" />
            <button class="search-btn" type="button">
              <img src="/assets/search.svg" alt="search" class="nav-icons search-icon" />
            </button>
          </form>
        </span>
      </div>
    </div>
    <div class="flex-container">
      <div class="sidebar">
        <ui class="sidebar-items">
          <li class="sidebar-item">
            <button class="sidebar-item-btn" type="button">
              <span class="sidebar-btn-book-icon"><img src="/assets/getStarted.svg" alt="icon"
                  class="sidebar-btn-icon sidebar-book" /></span>
              Getting Started
              <span class="sidebar-btn-icon sidebar-arrow"><img src="/assets/sidebar/arrow.svg" alt=""
                  class="sidebar-btn-icon sidebar-arrow" />
              </span>
              <span class="sidebar-btn-icon sidebar-arrowD"><img src="/assets/sidebar/arrowDown.svg" alt=""
                  class="sidebar-btn-icon sidebar-arrowD" />
              </span>
            </button>
            <ul class="siderbar-btn-contents sidebar-btn-section1">
              <li class="sidebar-btn-content">
                <a href="#" class="siderbar-btn">Installation</a>
              </li>
              <li class="sidebar-btn-content">
                <a href="#" class="siderbar-btn">Colors</a>
              </li>
              <li class="sidebar-btn-content">
                <a href="#" class="siderbar-btn">Typography</a>
              </li>
              <li class="sidebar-btn-content">
                <a href="#" class="siderbar-btn">Contribute</a>
              </li>
            </ul>
          </li>
          <ul class="sidebar-item">
            <button class="sidebar-item-btn" id="btn1" type="button">
              <span class="sidebar-btn-icon siderbar-Lslide"><img src="/assets/sidebar/Lslide.svg" alt="icon"
                  class="sidebar-btn-icon siderbar-Lslide" /></span>
              <span class="sidebar-btn-icon sidebar-Rslide"><img src="/assets/sidebar/Rslide.svg" alt=""
                  class="sidebar-btn-icon sidebar-Rslide" />
              </span>
              Components
            </button>
            <ul class="siderbar-btn-contents sidebar-btn-section2">
              <li class="sidebar-btn-content">
                <a href="/components/Alert/alert.html" class="siderbar-btn">Alert</a>
              </li>
              <li class="sidebar-btn-content">
                <a href="#" class="siderbar-btn">Avatar</a>
              </li>
              <li class="sidebar-btn-content">
                <a href="../Badge/badge.html" class="siderbar-btn">Badge</a>
              </li>
              <li class="sidebar-btn-content">
                <a href="#" class="siderbar-btn">Button</a>
              </li>
              <li class="sidebar-btn-content">
                <a href="#" class="siderbar-btn">Card</a>
              </li>
              <li class="sidebar-btn-content">
                <a href="#" class="siderbar-btn">Image</a>
              </li>
              <li class="sidebar-btn-content">
                <a href="#" class="siderbar-btn">Input</a>
              </li>
              <li class="sidebar-btn-content">
                <a href="#" class="siderbar-btn">List</a>
              </li>
              <li class="sidebar-btn-content">
                <a href="#" class="siderbar-btn">Navigation</a>
              </li>
              <li class="sidebar-btn-content">
                <a href="#" class="siderbar-btn">Modal</a>
              </li>
              <li class="sidebar-btn-content">
                <a href="#" class="siderbar-btn">Rating</a>
              </li>
              <li class="sidebar-btn-content">
                <a href="#" class="siderbar-btn">Slider</a>
              </li>
              <li class="sidebar-btn-content">
                <a href="#" class="siderbar-btn">Grid</a>
              </li>
              <li class="sidebar-btn-content">
                <a href="#" class="siderbar-btn">Toast</a>
              </li>
            </ul>
          </ul>
        </ui>
      </div>

      <!-- avatar -->
      <div class="main-component-container">
        <div class="component-title">Avatar</div>
        <div class="component-desc">
          Avatars are found throughout material design with uses in everything
          from tables to dialog menus.
        </div>
        <div class="component-subtitle">Image avatars</div>
        <div class="component-subtitle-desc">
          Image avatars can be created by passing standard img props
          <code class="code">src</code> or <code class="code">srcSet</code> to
          the component.
        </div>
        <div class="component-container">
          <img
            src="https://ik.imagekit.io/llr11drlt1m/dog-img4_J4HHaBBTV?ik-sdk-version=javascript-1.4.3&updatedAt=1644430836914"
            alt="dog Avatar" class="avatar" />
          <img
            src="https://ik.imagekit.io/llr11drlt1m/boy-img2_VBuJIBaSYv9?ik-sdk-version=javascript-1.4.3&updatedAt=1644430739961"
            alt="boy avatar" class="avatar" />
          <img
            src="https://ik.imagekit.io/llr11drlt1m/boy-img3_sJ-i0iMZ_?ik-sdk-version=javascript-1.4.3&updatedAt=1644430783741"
            alt="male avatar" class="avatar" />
          <img
            src="https://ik.imagekit.io/llr11drlt1m/smile-img1_zqjWttNtkHT.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1644430417380"
            alt="girl-avatar" class="avatar" />
        </div>
        <iframe
          src="https://carbon.now.sh/embed?bg=rgba%28249%2C237%2C212%2C1%29&t=twilight&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=38px&dsblur=68px&wc=true&wa=true&pv=16px&ph=26px&ln=false&fl=1&fm=IBM+Plex+Mono&fs=14px&lh=143%25&si=false&es=2x&wm=false&code=%253Cimg%2520src%253D%2522your%2520link%2522%2520alt%253D%2522%2522%2520class%253D%2522avatar%2522%2520%252F%253E%250A%253Cimg%2520src%253D%2522your%2520link%2522%2520alt%253D%2522%2522%2520class%253D%2522avatar%2522%2520%252F%253E%250A%253Cimg%2520src%253D%2522%252Fsource.svg%2522%2520alt%253D%2522%2522%2520class%253D%2522avatar%2522%2520%252F%253E%250A%253Cimg%2520src%253D%2522your%2520link%2522%2520alt%253D%2522%2522%2520class%253D%2522avatar%2522%2520%252F%253E"
          style="
              width: 470px;
              height: 250px;
              border: 0;
              transform: scale(1);
              overflow: hidden;
            " sandbox="allow-scripts allow-same-origin">
        </iframe>
        <div class="component-subtitle">Letters Avatars</div>
        <div class="component-subtitle-desc">
          Avatars containing simple characters can by using these snippets.
        </div>
        <div class="component-container">
          <p class="avatar avatar-lg avatar-text large-text complementary-bg">
            IN
          </p>
          <p class="avatar avatar-md avatar-text medium-text info-bg">ES</p>
          <p class="avatar avatar-sm avatar-text small-text success-bg">N</p>
        </div>
        <iframe
          src="https://carbon.now.sh/embed?bg=rgba%28249%2C237%2C212%2C1%29&t=twilight&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=38px&dsblur=68px&wc=true&wa=true&pv=16px&ph=26px&ln=false&fl=1&fm=IBM+Plex+Mono&fs=14px&lh=143%25&si=false&es=2x&wm=false&code=%253Cp%2520class%253D%2522avatar%2520avatar-lg%2520avatar-text%2520large-text%2520complementary-bg%2522%253EIN%253C%252Fp%253E%250A%253Cp%2520class%253D%2522avatar%2520avatar-md%2520avatar-text%2520medium-text%2520info-bg%2522%253EES%253C%252Fp%253E%250A%253Cp%2520class%253D%2522avatar%2520avatar-sm%2520avatar-text%2520small-text%2520success-bg%2522%253EN%253C%252Fp%253E"
          style="
              width: 712px;
              height: 200px;
              border: 0;
              transform: scale(1);
              overflow: hidden;
            " sandbox="allow-scripts allow-same-origin">
        </iframe>
        <div class="component-subtitle">Sizes</div>
        <div class="component-subtitle-desc">
          Avatars with different customized sizes.
        </div>
        <div class="component-container">
          <img
            src="https://ik.imagekit.io/llr11drlt1m/boy-img2_VBuJIBaSYv9?ik-sdk-version=javascript-1.4.3&updatedAt=1644430739961"
            alt="boy avatar" class="avatar avatar-lg" />
          <img
            src="https://ik.imagekit.io/llr11drlt1m/boy-img3_sJ-i0iMZ_?ik-sdk-version=javascript-1.4.3&updatedAt=1644430783741"
            alt="male avatar" class="avatar avatar-md" />
          <img
            src="https://ik.imagekit.io/llr11drlt1m/smile-img1_zqjWttNtkHT.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1644430417380"
            alt="girl-avatar" class="avatar avatar-sm" />
        </div>
        <iframe
          src="https://carbon.now.sh/embed?bg=rgba%28249%2C237%2C212%2C1%29&t=twilight&wt=none&l=htmlmixed&width=680&ds=true&dsyoff=38px&dsblur=68px&wc=true&wa=true&pv=16px&ph=26px&ln=false&fl=1&fm=IBM+Plex+Mono&fs=14px&lh=143%25&si=false&es=2x&wm=false&code=%253Cimg%2520src%253D%2522link%2522%2520alt%253D%2522%2522%2520class%253D%2522avatar%2520avatar-lg%2522%2520%252F%253E%250A%253Cimg%2520src%253D%2522link%2522%2520alt%253D%2522%2522%2520class%253D%2522avatar%2520avatar-md%2522%2520%252F%253E%250A%253Cimg%2520src%253D%2522link%2522%2520alt%253D%2522%2522%2520class%253D%2522avatar%2520avatar-sm%2522%2520%252F%253E"
          style="
              width: 495px;
              height: 231px;
              border: 0;
              transform: scale(1);
              overflow: hidden;
            " sandbox="allow-scripts allow-same-origin">
        </iframe>
      </div>
    </div>
    <div class="footer">
      <div class="ftr-newsletter">
        <div class="ftr-newsletter-icon">
          <h4 class="ftr-newsletter-content">
            Join Our newsletter!
            <img src="../../assets/nwltr.svg" alt="newsletter" class="ftr-newsletter-content-icon" />
          </h4>
          <p class="ftr-newsletter-content-sec">No spam, guaranteed</p>
          <form action="" class="ftr-newsletter-form">
            <label for="email-subscribe" class="ftr-newsletter-label">
              <div>Enter your Email:</div>
            </label>
            <input type="email" class="ftr-newsletter-email-subscribe" name="email" placeholder="example@email.com" />
            <button class="ftr-newsletter-btn" tabindex="0" type="submit">
              Subscribe
            </button>
          </form>
        </div>
      </div>
      <div class="ftr-aboutUs">
        <p class="ftr-aboutUs-line">Get in touch with Us</p>
        <a href="#" class="ftr-aboutUs-social">
          <img src="../../assets/mail.svg" alt="mail" class="ftr-aboutUs-mailIcon" />
        </a>
        <a href="#" class="ftr-aboutUs-social">
          <img src="../../assets/twitter.svg" alt="twitter" class="ftr-aboutUs-twitterIcon" />
        </a>
        <a href="#" class="ftr-aboutUs-social">
          <img src="../../assets/ig.svg" alt="instagram" class="ftr-aboutUs-twitterIcon" />
        </a>
      </div>
    </div>
  </div>
</body>
<script src="../../scripts/script.js"></script>
<script src="../../scripts/script.js"></script>

</html>
