.alert {
  font-size: var(--font-size-5);
  margin: 10px;
  padding: 1rem;
  border-radius: var(--border-radius);
  color: var(--white-color);
  cursor: pointer;
  background-color: white;
  width: 85%;
}
.alert-icon {
  margin-right: 0.5rem;
}

.alert-code {
  margin-top: 3rem;
}
